/* basic-start */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: initial;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.container {
    margin: 0 auto;
    outline: 2px solid rgb(255, 255, 255);
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.title {
    padding: 0;
    margin: 0;
}


/* basic-end */


/* header-start */

.form {
    margin-top: 100px;
    height: 400px;
}

.phone-number {
    border: none;
    display: block;
    font-size: 18px;
    line-height: 26px;
    display: block;
    width: 300px;
    height: 40px;
    /* border: 2px solid rgb(255, 255, 255); */
    margin: 0 auto;
    margin-bottom: 40px;
}

.phone-number::placeholder {
    font-size: 18px;
    line-height: 26px;
    text-indent: 20px;
    color: rgb(153, 140, 140);
}

.phone-text {
    display: block;
    text-align: center;
    color: #ffffff;
}

section {
    height: 100vh;
    background-color: rgb(22, 184, 224);
}

.form-button {
    display: block;
    background-color: #ffffff00;
    color: #ffffff;
    font-size: 30px;
    margin: 0 auto;
    border: 2px solid #ffffff;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.line {
    width: 300px;
    height: 2px;
    background-color: #ffffff;
    margin: 0 auto;
}


/* header-end */


/* banner-start */


/* banner-end */


/* features-start */


/* features-end */


/* team-start */


/* social-icons */


/* team-end */

@media(min-width:320px) and (max-width:767px) {
    .container {
        width: 320px;
    }
}

@media(min-width:768px) {
    .container {
        width: 600px;
    }
}

@media(min-width:1170px) {
    .container {
        width: 1170px;
    }
}